<nav class="navbar">
  <div class="logo" routerLink="/" style="cursor: pointer;">ElementOS 3D</div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Misiones</a></li>
    <li><a routerLink="/tecnologia" routerLinkActive="active">Tecnología</a></li>
    <li><a routerLink="/quienes-somos" routerLinkActive="active">Quienes Somos</a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="footer-logo">ELEMENTOS 3D</h3>
      <p>Explora el universo con nuestros modelos 3D interactivos y tecnología avanzada.</p>
    </div>

    <div class="footer-section">
      <h4>Navegación</h4>
      <ul>
        <li><a href="#">Misiones</a></li>
        <li><a href="#">Tecnología</a></li>
        <li><a href="#">Modelos 3D</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Institución</h4>
      <p>UNIR México</p>
      <p>Maestría en Diseño y Desarrollo de la Interfaz de Usuario Web</p>
      <p>Desarrollo de Recursos Animados para Web</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 ElementOS 3D.</p>

  </div>
</footer>